
.container {
    display: flex;
    max-width: 6000x;
    flex-wrap: wrap;
}

.container img {
    width: 100%; 
    padding: 3px 3px 3px 3px;
}

@media only screen and (min-width: 600px) {
    .container img {
        width: 50%;
    }

    #bilder {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }
}

    @media only screen and (min-width: 900px) {
        .container img {
            width: 25%;
            height: 25%;
        }
    }